@import './colors.scss';


:export {
    primaryColor: $primary-color ;
    secondaryColor: $secondary-color ;
    secondaryBackgroundColor: $secondary-background-color ;
    textColor: $text-color ;
    heartColor: $heart-color ;
    darkBlue: $dark-blue ;
    lightBlue: $light-blue ;
    grayColor:$gray-color;
}

