.search-field{
    .MuiOutlinedInput-root{
        border-radius: 11px;
        height: 30px;
        outline: none;
        padding: 1px;
    }
    .MuiOutlinedInput-input{
        border-color: #eee;
        font-size: 11px;
    text-transform: capitalize;
        &:focus{
            outline: darkgray;
            border-color: #eee;
        }
     &::placeholder{
     font-size: 13px;
    }}
        
}
/*   pop up */
.popup-container{
  .MuiDialog-paper{
    border-radius: 17px;
    max-width: 470px;
  }
    .popup-close-icon{
    color:#121212 ;
    font-size: 17px;
    }
    .MuiDialogContent-root{
        margin-top: -30px;
       
    }
    .popup-title{
        font-size: 15px;
        font-weight: bold;
        text-transform: capitalize;
    }
}