@import "./colors.scss";

.login-container {
  .login-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, #3399ff, #99ccff, #99ccff);

    @media screen and (max-width: 870px) {
      flex-direction: column;
      background: linear-gradient(to top, #3399ff, #99ccff, #99ccff,#fff,#fff,#fff);
    }

    .login-white-part {
      background-color: #fff;
      width: 70%;
      margin-left: auto;
      border-radius: 50px 0px 0px 50px;

      @media screen and (max-width: 870px) {
        display: none;
      }
    }
  }

  .login-content {
    z-index: 10;
    height: 100%;
    width: 100%;

    @media screen and (max-width: 870px) {
      flex-wrap: wrap;
    }

    .login-left-part {
      @media screen and (max-width: 870px) {
        width: 50%;
        padding-left: 70px;
      }

      .images-part {
        @media screen and (max-width: 870px) {
          display: none;
        }
      }

      .login-logo--image {
        width: 15px;
        height: 27px;
      }

      .login-title {
        color: #121212;
        font-weight: bold;
        -webkit-text-stroke: 1px white;
      }

      .image {
        width: 400px;
        height: 400px;
        margin-left: 25%;

        @media screen and (max-width: 1115px) {
          margin-left: 0;
        }
      }
    }

    .login-right-part {
      width: 100%;

      @media screen and (max-width: 870px) {
        margin-top: 30px;
      }

      .login-title {
        color: #121212;
        opacity: 0.5;
        -webkit-text-stroke: 1px white;
      }

      .login-button {
        text-transform: lowercase;
        border-radius: 15px;
        height: 40px;
      }

      .login-checkbox {
        .MuiFormControlLabel-label {
          opacity: 0.6;
          font-size: 15px;
        }

        .checkbox {
          &.Mui-checked {
            color: #0080ff;
          }
        }
      }
    }

    .MuiFilledInput-root {
      border-radius: 10px;

      &::before {
        border: none;
      }

      .MuiFilledInput-input {
        padding: 10px;
        font-size: 15px;
        &::placeholder {
          font-size: 13px;
        }
      }
    }

    .MuiInputAdornment-root {
      margin-top: 4px !important;
    }

  }
}