@import './colors.scss';

.main-container {
  height: 100%;
  position: absolute;

  @media (min-width: 768px) {
    height: initial;
  }

  .sidebar-container {
    height: 95vh;
    padding: 20px;
    border-right: 1px dashed #beb5b5;
    box-sizing: border-box;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .outlet-container {
    padding: 0px 5px;
    height: none;
    overflow-y: scroll;
    flex-grow: 1;
    @media (min-width: 768px) {
      padding: 10px 20px;
      height: calc(100vh - 130px);
    }
  }
}

/* sidebar content */
.sidebar-content {
  .sidbar-logo-image{
    width: 20px;
    height: 30px;
  }
  .sidebar-items{
    .MuiListItemIcon-root{
      min-width: 43px;
    }
  }
  .sidebar-list-ltem{
    color:#000000A3;
    margin-bottom: -8px;
    .MuiSvgIcon-root{font-size: 10px;}
    .MuiListItemText-primary{ font-size: 15px;}
   
    &.active{
      color:#121212 ;
      .MuiSvgIcon-root{font-size: 15px; color:#0080ff;}
    }
  }
}

.nav-container{
  .MuiAppBar-root{
    height: 55px;
   box-shadow:  0px 2px 1px -1px rgba(0,0,0,0.0), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
  }
  .nav-logo-profile-image{
    width: 30px;
    height: 30px;
  }
}