.posts-container {
    .posts-paper {
        border-radius: 0 0px 20px 20px;
        box-shadow:  0px 2px 1px -1px rgba(0,0,0,0.0), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
        width: 98%;
    }
     .MuiDataGrid-root{
        border-radius: 0 0px 20px 20px;
     }
  
    .MuiDataGrid-columnHeader {
        background-color: #e5f2ff;
        .MuiDataGrid-columnHeaderTitleContainer {
            justify-content: center;
        }
        .MuiDataGrid-columnHeaderTitle{
            font-size: 12px;
            font-weight: bold;
        }
    }

    .MuiDataGrid-cell {
        justify-content: center !important;
    }

    .MuiDataGrid-cell,
    .MuiDataGrid-columnHeader {
        border: 1px solid;
    }

    .MuiDataGrid-virtualScroller {
        min-height: 100px !important;
    }

    .post-grid-cell-text {
        color: #00000082;
        font-size: 12px;
   
    }
    .post-grid-cell-text1{
        font-size: 13px;
    }
    .post-grid-cell-avatar{
        width:30px;
        height:30px;
    }
    .MuiPaginationItem-root{
        background-color: #eee;
        border-radius: 8px;
    }

}
.post-dialog-button {

        text-transform: capitalize !important;
        height: 35px !important;
        border-radius: 12px !important;
    
}

.popup-content{
    .MuiPaper-root{
        border-radius: 10px;
    }
    .heart-icon{
        width: 20px;
        height: 20px;
    }
}